{{ form_row(form.current_password) }}
<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.plainPassword.first) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.plainPassword.second) }}
    </div>
</div>
