{{ dump(user) }}

<div class="table-responsive">
    <table class="table table table-bordered table-striped table-hover">
        <tbody>
        {% for key, value in user %}
            <tr>
                <th>{{ ('details.user.' ~ key)|trans({}, 'details') }}</th>
                <td>{{ value|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
