<div class="form-group form-no-float">
    <label class="control-label form-label" for="edit_maintenance_active">
        {{ (not active ? 'table.head.maintenance.active.on' : 'table.head.maintenance.active.off')|trans({}, 'table') }}
    </label>
    <div class="form-no-line">
        <div class="switch">
            <label>
                <input type="checkbox" id="edit_maintenance_active" name="edit_maintenance[active]" value="1" {{ not active ? 'checked="checked"' }} disabled="disabled"><span class="lever"></span>
            </label>
        </div>
    </div>
</div>