{% extends 'layout/layout_login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}
    {{ 'title.account.register'|trans({}, 'title') }}
{% endblock page_title %}

{% block content %}
    <div class="msg">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</div>
{% endblock content %}
