{% extends 'layout/layout_login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}
    {{ 'title.account.register'|trans({}, 'title') }}
{% endblock page_title %}

{% block content %}
    <div class="msg">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</div>
    {% if targetUrl %}
        <a class="btn btn-block btn-lg bg-blue-grey waves-effect" href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
    {% endif %}
{% endblock content %}

