<div class="icon-button-demo">
    <a href="" class="btn btn-primary waves-effect"><i class="material-icons">extension</i></a>
</div>
<div class="icon-button-demo">
    <a href="" class="btn btn-primary waves-effect"><i class="material-icons">extension</i></a>
</div>
<div class="icon-button-demo">
    <a href="" class="btn btn-primary waves-effect"><i class="material-icons">extension</i></a>
</div>
<div class="icon-button-demo">
    <a href="" class="btn btn-primary waves-effect"><i class="material-icons">extension</i></a>
</div>