<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <small><i class="fa fa-cog"></i></small>  Actions <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Separated link</a></li>
    </ul>
</div>