<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader" id="loader">
        <div class="preloader">
            <div class="spinner-layer pl-{{ theme_name() }}">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>{{ 'layout.loader.placeholder'|trans({}, 'layout') }}</p>
    </div>
</div>
<!-- #END# Page Loader -->