<!-- Search Bar -->
<div role="search" class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="{{ 'topbar.search.placeholder'|trans({}, 'topbar') }}">
    <div class="close-search" aria-hidden="true">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->