.block {
  display: block;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

/**
MENU
 */
@media (max-width: 767px) {
  .navbar .dropdown-menu {
    margin-left: 0;
  }
}

/**
SKINS
 */
.navbar-brand > img {
  vertical-align: top;
  height: 50px;
  margin-top: -15px;
  display: inline !important
}

.dropdown-menu ul.menu {
  list-style: none;
}

aside#rightsidebar {
  overflow-y: auto;
}

ul.demo-choose-skin a {
  text-decoration: none;
}

/**
CARD ACTIONS
 */
.card {
  transition: all .3s linear;
}

.card.collapsed .body {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.card.expanded:not(.collapsed) .body {
  height: calc(100% - 40px);
  overflow-y: auto!important;
}

.card.expanded {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  height: 100vh;
}

/**
DATATABLES
 */
table.dataTable .icon-button-demo {
  display: inline;
}

.breadcrumb {
  margin-bottom: 0;
}

.dataTables_length {
  margin-top: 10px;
}

/**
BUTTONNS BEFORE LISTS
 */
.table-actions-before {
  position: relative;
  top: -15px;

  .col-xs-12 > .btn-group {
    > button:not(:last-child),
    > div:not(:last-child),
    > a:not(:last-child) {
      margin-right: 10px;
    }
  }
}
