.block {
  display: block;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

/**
SKINS
 */
ul.demo-choose-skin a {
  text-decoration: none;
}