.block {
  display: block;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

/**
SKINS
 */
.navbar-brand > img {
  vertical-align: top;
  height: 50px;
  margin-top: -15px;
  display: inline !important
}

.dropdown-menu ul.menu {
  list-style: none;
}

aside#rightsidebar {
  overflow-y: auto;
}

ul.demo-choose-skin a {
  text-decoration: none;
}