<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
    </div>
    {% for child in form.test %}
        <div class="col-sm-6">
            {{ form_row(child) }}
        </div>
        {% if loop.index is odd %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
</div>
