{% extends 'layout/layout_table.html.twig' %}

{% block page_title %}Test index{% endblock page_title %}

{% block table_before %}
    <a href="{{ path('admin_test_new') }}">Create new</a>
{% endblock table_before %}

{% block table_title %}
    BASIC EXAMPLE
{% endblock table_title %}

{% block table_content %}
    {% include 'includes/datatable.html.twig' with {
        class: 'skeleton-datatable',
        rows: tests,
        header: [
            'test.id',
            'test.name',
            'actions',
        ],
        plugins: [
            'export',
            'responsive',
        ],
    } %}
{% endblock table_content %}
