{% extends 'base.html.twig' %}

{% block title %}New Test{% endblock %}

{% block body %}
    <h1>Create new Test</h1>

    {{ include('test/_form.html.twig') }}

    <a href="{{ path('test_index') }}">back to list</a>
{% endblock %}
