<!DOCTYPE html>
<!--[if IE 8]>
<html lang="{{ app.request.locale|split('_')[0] }}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="{{ app.request.locale|split('_')[0] }}" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ app.request.locale|split('_')[0] }}">
<!--<![endif]-->
<!--
 __    __    ___            __    __    __   ____
 \ \  / /   / __|           \ \  /  \  / /  |  __\   __
  \ \/ / _  \__ \  _         \ \/ /\ \/ /   |  __|  |  _\
   \__/ (_) |___/ (_)         \__/  \__/    |  __/  |___/
                https://vsweb.be
-->
<head>
    {% block head %}
        <title>
            {% block title %}{{ setting_value(constant('App\\Entity\\Setting::SETTING_BASE_TITLE'), constant('App\\Entity\\Setting::SETTING_BASE_TITLE_VALUE')) }}{% endblock title %}
        </title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="symfony skeleton by Jul6art"/>
        <meta name="author" content="VsWeb"/>

        {% block stylesheets %}{% endblock stylesheets %}

    {% endblock head %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
{% block body_content %}{% endblock body_content %}
{% block javascripts %}{% endblock javascripts %}
</body>
</html>
