{% extends 'layout/layout_base.html.twig' %}

{% from 'includes/macros.html.twig' import length_main_section %}

{% block content %}
    <div class="row clearfix">
        {% if block('details_sidebar_left') is defined %}
            <aside role="complementary" class="col-sm-3">
                {{ block('details_sidebar_left') }}
            </aside>
        {% endif %}

        <div class="{{ length_main_section(block('details_sidebar_left') is defined, block('details_sidebar_right') is defined) }}">

            {% block details_before %}{% endblock details_before %}

            {% include 'layout/layout_card.html.twig' with {
                card_title: block('details_title'),
                card_content: block('details_content'),
                card_footer: block('details_footer') is defined ? block('details_footer') : ''
            } %}

            {% block details_after %}{% endblock details_after %}

        </div>

        {% if block('details_sidebar_right') is defined %}
            <aside role="complementary" class="col-sm-3">
                {{ block('details_sidebar_right') }}
            </aside>
        {% endif %}
    </div>
{% endblock content %}
